@import url(http://allfont.ru/allfont.css?fonts=roboto-thin);
@import url(http://allfont.ru/allfont.css?fonts=roboto-regular);
@import url(http://allfont.ru/allfont.css?fonts=roboto-bold);
@import url(http://allfont.ru/allfont.css?fonts=roboto-thin);

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.clearfix {
    clear: both;
}

#header {
    width: 100%;
    background-size: cover;
    background: url("../images/bg.jpg") no-repeat top;
    display: block;
    height: 1100px;
}

#section-1 {
    display: block;
    min-height: 300px;
    margin-top: 265px;
}

#section-2 {
    background-color: #f6f7fa;
    padding-top: 160px;
}

section {
    display: block;
}

.wrap {
    overflow: hidden;
    max-width: 1688px;
    margin: 0 auto;
}

.logo-block {
    margin-top: 65px;
    float: left;
}

.menu-block {
    margin-top: 83px;
    float: right;
}

.menu {
    list-style-type: none;
    color: white;
    font: 18px 'Roboto Regular', arial;
}

.menu > li {
    float: left;
}

.menu > li > a {
    color: inherit;
    text-decoration: none;
    padding: 10px 43px 10px 43px;
    font: inherit;
    border-radius: 50px;
}

.menu > li > a:hover {
    color: #5584ff;
    border: 1px solid #233a72;
}

.description-block {
    padding-top: 140px;
    opacity: 1;
}

.title-desc {
    font: 60px 'Roboto Thin', arial;
    color: white;
    text-align: center;
}

.text-desc {
    font: 36px 'Roboto Regular', arial;
    text-align: center;
    color: #8492af;
}

.started {
    text-align: center;
    padding-top: 82px;
}

.btn {
    background: #5584ff;
    color: white;
    padding: 15px 65px;
    display: inline-block;
    border-radius: 50px;
    font: 18px 'Roboto Bold', arial;
    text-decoration: none;
}

.img-merkury-kopia {
    width: 880px;
    display: block;
    margin: 0 auto;
    padding-top: 85px;
    opacity: 1;
}

.block-info-adversting {
    max-width: 1355px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.block-adversting {
    flex-basis: 365px;
    /*background-color: #233a72;*/
    /*display: inline-block;*/
    text-align: center;
    padding-bottom: 85px;
}

.title-adversting {
    padding-top: 60px;
    font: 24px 'Roboto Bold', arial;
    color: #0e1a35;
    padding-bottom: 29px;
}

.description-adversting {
    font: 18px 'Roboto Regular', arial;
    text-align: center;
    color: #8492af;
}

.btn-adversting {
    margin-top: 55px;
    display: inline-block;
    padding: 14px 86px;
    font: 18px 'Roboto Bold', arial;
    color: #0e1a35;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #dadee7;
}

/*#section-2 {*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
/*}*/

#section-2 > .wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section_2-block-left {
    flex-basis: 735px;
    /*float: left;*/
    margin-left: 15px;
}

.section_2-block-right {
    flex: 1;
}

.sec-div-left {
    max-width: 585px;
}

.title-section_2 {
    font: 60px 'Roboto Thin', arial;
    padding-bottom: 45px;
}

.description-section_2 {
    font: 18px 'Roboto Regular', arial;
    color: #8492af;
    margin-bottom: 60px;
}

.description-section_2 > span {
    display: block;
    margin-top: 40px;
    color: inherit;
}

.section_2_ul {
    list-style: url("../images/checked6.png") outside;
    margin-left: 5%;
    margin-bottom: 30px;
}

.section_2_ul > li {
    margin-top: 33px;
    font: 22px 'Roboto Regular', arial;
    padding-left: 15px;
    color: #5584ff;
}

/*@media screen and (max-width: 768px) and (min-width: 1024px){*/
    /*.block-adversting {*/
        /*width: 27.2324723247%;*/
        /*display: inline-block;*/
        /*margin-right: 8.76%;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 320px) {*/
    /*.block-adversting {*/
        /*display: block;*/
        /*min-width: 100%;*/
    /*}*/
/*}*/